In [13]:
import pandas as pd
import apriori_python as apr
import math

In [2]:
dataset = pd.read_excel('C:/Users/Krlozz/Downloads/asociacion.xlsx')

In [3]:
print(dataset.head)

<bound method NDFrame.head of     Unnamed: 0    1    2    3    4    5    6    7    8    9  ...    20    21  \
0            1  NaN  NaN  NaN  NaN  NaN  NaN  7.0  NaN  NaN  ...   NaN  21.0
1            2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  8.0  NaN  ...   NaN   NaN
2            3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
3            4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
4            5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  9.0  ...   NaN   NaN
5            6  1.0  NaN  NaN  4.0  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
6            7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
7            8  NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
8            9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  20.0   NaN
9           10  NaN  NaN  NaN  NaN  5.0  NaN  NaN  NaN  NaN  ...   NaN   NaN
10          11  NaN  NaN  3.0  NaN  NaN  6.0  NaN  NaN  NaN  ...   NaN   NaN
11          12  NaN  NaN  3.0  4.0  NaN  NaN  7.0  NaN  NaN  ...   NaN   NaN

      22    23    24    25    26    27    28    29
0    NaN   NaN  24.0   NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN  25.0   NaN   NaN   NaN  29.0
2    NaN   NaN   NaN   NaN   NaN  28.0   NaN   NaN
3    NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.0
4    NaN   NaN   NaN   NaN   NaN   NaN  28.0   NaN
5   22.0   NaN   NaN   NaN   NaN   NaN  28.0  29.0
6    NaN  23.0   NaN   NaN   NaN   NaN   NaN   NaN
7    NaN  23.0   NaN   NaN  26.0   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN   NaN  28.0   NaN
10   NaN   NaN   NaN  25.0   NaN  27.0   NaN   NaN
11   NaN   NaN   NaN  25.0   NaN   NaN  28.0  29.0

[12 rows x 30 columns]>

In [4]:
dataset.head

<bound method NDFrame.head of     Unnamed: 0    1    2    3    4    5    6    7    8    9  ...    20    21  \
0            1  NaN  NaN  NaN  NaN  NaN  NaN  7.0  NaN  NaN  ...   NaN  21.0
1            2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  8.0  NaN  ...   NaN   NaN
2            3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
3            4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
4            5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  9.0  ...   NaN   NaN
5            6  1.0  NaN  NaN  4.0  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
6            7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
7            8  NaN  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN   NaN
8            9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  20.0   NaN
9           10  NaN  NaN  NaN  NaN  5.0  NaN  NaN  NaN  NaN  ...   NaN   NaN
10          11  NaN  NaN  3.0  NaN  NaN  6.0  NaN  NaN  NaN  ...   NaN   NaN
11          12  NaN  NaN  3.0  4.0  NaN  NaN  7.0  NaN  NaN  ...   NaN   NaN

      22    23    24    25    26    27    28    29
0    NaN   NaN  24.0   NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN  25.0   NaN   NaN   NaN  29.0
2    NaN   NaN   NaN   NaN   NaN  28.0   NaN   NaN
3    NaN   NaN   NaN   NaN   NaN   NaN   NaN  29.0
4    NaN   NaN   NaN   NaN   NaN   NaN  28.0   NaN
5   22.0   NaN   NaN   NaN   NaN   NaN  28.0  29.0
6    NaN  23.0   NaN   NaN   NaN   NaN   NaN   NaN
7    NaN  23.0   NaN   NaN  26.0   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN   NaN  28.0   NaN
10   NaN   NaN   NaN  25.0   NaN  27.0   NaN   NaN
11   NaN   NaN   NaN  25.0   NaN   NaN  28.0  29.0

[12 rows x 30 columns]>

In [7]:
dataset.shape[1]

30

In [22]:
datos1 = []
datos2 = []

In [23]:
len(dataset) # len(dataset.index) # igual

12

In [24]:
for i in range(len(dataset)):
    datos1.append([str(int(dataset.values[i, j])) for j in range(0,dataset.shape[1]) if not math.isnan(dataset.values[i, j])])

In [25]:
datos1

[['1', '7', '16', '21', '24'],
 ['2', '8', '25', '29'],
 ['3', '28'],
 ['4', '10', '17', '19', '29'],
 ['5', '9', '15', '18', '28'],
 ['6', '1', '4', '22', '28', '29'],
 ['7', '23'],
 ['8', '2', '14', '18', '23', '26'],
 ['9', '20'],
 ['10', '5', '28'],
 ['11', '3', '6', '18', '25', '27'],
 ['12', '3', '4', '7', '11', '12', '13', '25', '28', '29']]

In [26]:
minsup = 0.16
minconf = 0.6

pf, reglas = apr.apriori(datos1, minSup = minsup, minConf = minconf)

In [27]:
pf

{1: {frozenset({'5'}),
  frozenset({'4'}),
  frozenset({'23'}),
  frozenset({'7'}),
  frozenset({'9'}),
  frozenset({'2'}),
  frozenset({'3'}),
  frozenset({'11'}),
  frozenset({'29'}),
  frozenset({'10'}),
  frozenset({'1'}),
  frozenset({'8'}),
  frozenset({'6'}),
  frozenset({'18'}),
  frozenset({'25'}),
  frozenset({'28'})},
 2: {frozenset({'28', '29'}),
  frozenset({'2', '8'}),
  frozenset({'25', '29'}),
  frozenset({'11', '3'}),
  frozenset({'28', '5'}),
  frozenset({'28', '4'}),
  frozenset({'25', '3'}),
  frozenset({'29', '4'}),
  frozenset({'11', '25'}),
  frozenset({'28', '3'})},
 3: {frozenset({'28', '29', '4'}), frozenset({'11', '25', '3'})}}

In [28]:
reglas

[[{'25'}, {'29'}, 0.6666666666666666],
 [{'3'}, {'11'}, 0.6666666666666666],
 [{'4'}, {'28'}, 0.6666666666666666],
 [{'25'}, {'3'}, 0.6666666666666666],
 [{'3'}, {'25'}, 0.6666666666666666],
 [{'25'}, {'11'}, 0.6666666666666666],
 [{'3'}, {'28'}, 0.6666666666666666],
 [{'4'}, {'28', '29'}, 0.6666666666666666],
 [{'29', '4'}, {'28'}, 0.6666666666666666],
 [{'25'}, {'11', '3'}, 0.6666666666666666],
 [{'3'}, {'11', '25'}, 0.6666666666666666],
 [{'29'}, {'4'}, 0.75],
 [{'2'}, {'8'}, 1.0],
 [{'8'}, {'2'}, 1.0],
 [{'11'}, {'3'}, 1.0],
 [{'5'}, {'28'}, 1.0],
 [{'4'}, {'29'}, 1.0],
 [{'11'}, {'25'}, 1.0],
 [{'28', '29'}, {'4'}, 1.0],
 [{'28', '4'}, {'29'}, 1.0],
 [{'11'}, {'25', '3'}, 1.0],
 [{'11', '25'}, {'3'}, 1.0],
 [{'25', '3'}, {'11'}, 1.0],
 [{'11', '3'}, {'25'}, 1.0]]

In [79]:
headers = dataset.columns.tolist()

print(headers)

['Unnamed: 0', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [62]:
for i in range(dataset.shape[0]):
    row = dataset.iloc[i].tolist()
    datos2.append(row)

In [65]:
print(datos2)

[[1.0, nan, nan, nan, nan, nan, nan, 7.0, nan, nan, nan, nan, nan, nan, nan, nan, 16.0, nan, nan, nan, nan, 21.0, nan, nan, 24.0, nan, nan, nan, nan, nan], [2.0, nan, nan, nan, nan, nan, nan, nan, 8.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 25.0, nan, nan, nan, 29.0], [3.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.0, nan, nan], [4.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 10.0, nan, nan, nan, nan, nan, nan, 17.0, nan, 19.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 29.0], [5.0, nan, nan, nan, nan, nan, nan, nan, nan, 9.0, nan, nan, nan, nan, nan, 15.0, nan, nan, 18.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.0, nan], [6.0, 1.0, nan, nan, 4.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 22.0, nan, nan, nan, nan, nan, 28.0, 29.0], [7.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 23.0, nan, nan, nan, nan, nan, nan], [8.0, nan, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 14.0, nan, nan, nan, 18.0, nan, nan, nan, nan, 23.0, nan, nan, 26.0, nan, nan, nan], [9.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 20.0, nan, nan, nan, nan, nan, nan, nan, nan, nan], [10.0, nan, nan, nan, nan, 5.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.0, nan], [11.0, nan, nan, 3.0, nan, nan, 6.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 18.0, nan, nan, nan, nan, nan, nan, 25.0, nan, 27.0, nan, nan], [12.0, nan, nan, 3.0, 4.0, nan, nan, 7.0, nan, nan, nan, 11.0, 12.0, 13.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 25.0, nan, nan, 28.0, 29.0]]